<app-header></app-header>
<app-menu-left></app-menu-left>
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <h1 style="text-transform: uppercase">Quản lý nhà cung cấp</h1>
                <p><button style="text-transform: capitalize; font-size: 20px; color: rgb(237, 21, 21);" type="button" (click)="openForm()" data-bs-toggle="modal" data-bs-target="#exampleModal">thêm mới</button></p>
                <div class="row m-t-30">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên nhà cung cấp</th>
                                        <th>Địa chỉ</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th colspan="2">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of nhacungcaps;let i = index">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{item['tenNCC']}}</td>
                                        <td>{{item.diaChi}}</td>
                                        <td>{{item.sdt}}</td>
                                        <td>{{item.email}}</td>
                                        <td><button type="button" class="btn btn-info fa fa-pencil" (click)="onEdit(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">&nbsp;</button></td>
                                        <td><button class="btn btn-danger fa fa-trash" (click)="deletencc(item.id)">&nbsp;</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Bản quyền thuộc về <a
                                    href="">MINOSS.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- thêm, sửa -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Tên nhà cung cấp</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="tenNCC">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="diaChi">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="sdt">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Email</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="addnhacungcap()">Add</button>
                    <button type="button" class="btn btn-primary" *ngIf="showUpdate"
                        (click)="updatencc()">update</button>
                </div>
            </div>
        </div>
    </div>
</div>
